.background{width: 100%;
           height:100%;
           background-size: cover;}
           *{margin: 0px;
           	padding: 0px;}
 .container1{width:100%;
             height: 20%;
           }
           .item1{border:1px solid black;
           	width: 100%;
           	height:15%;
           	text-align: center;
           	text-decoration: underline;
           	background-image:linear-gradient(to right,red,green,yellow);}
.container2{width:60%;
            height: 40%;
            position: absolute;
            }

.item2{width: 80%;
       height: 23%;

       border: 2px solid red;
       background-color: #42e6f5;
       position:relative;
       top:3%;
       left:40%;
       border-radius:25px;
       

       }
.list1{margin-left: 45%;}

.container3{width:100%;
            height:27%;
            border:1px solid red;
            border-radius:20px;
            background-color: green;
            position: absolute;
           top:16%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;}
.item3{width:31%;
       height: 46%;
       border:1px solid green;
       border-radius:10px;
       padding-left:1%;
       background-color: #34ebe1;
       position: relative;
       left: 1%;}
.item4{width:31%;
       height: 46%;
       border:1px solid green;
       padding-left:1%;
        border-radius:10px;
       background-color:#34ebe1;
   }
 .item5{width:31%;
       height: 46%;
       border:1px solid green;
        border-radius:10px;
        padding-left:1%;
       background-color: #34ebe1;
        position: relative;
       right: 1%;}      
.item6{width:31%;
       height:47%;
       border:1px solid green;
       padding-left:1%;
        border-radius:10px;
       background-color:#34ebe1;
       position:relative;
       left:34%;
       bottom:1%;}
.container4{width:100%;
            height: 25%;
            position: absolute;
            top:47%;}
 .item7{border:1px solid black;
  border-radius:10px;
        width:100%;
        height:22%;
        background-image:linear-gradient(to right,red,yellow,red);
        text-align: center;
        text-decoration: underline;
        font-weight: bold;}
                
.container5{width:100%;
height: 28%;
border:1px solid red;
position:absolute;
line-height:23px;
top: 55%;
display: flex;
flex-wrap: wrap;
background-image:radial-gradient(blue,green);
justify-content: space-around;
padding-top: 4%;}
.item8{width:20%;
height:50%;
border:1px solid red;
color:red;
font-weight: bold;
text-align: center;
border-radius: 10px;
text-decoration: underline;
background-color:yellow;

}
.item9{width:20%;
height:50%;
border:1px solid red;
color:red;
font-weight: bold;
border-radius: 10px;
background-color:yellow;
text-decoration: underline;
text-align: center;
position: relative;

}
.item10{width:20%;
height:50%;
border:1px solid red;
color: red;
font-weight: bold;
border-radius:10px;
text-align: center;
background-color:yellow;
text-decoration: underline;
position: relative;
 }
.item11{width:20%;
height:50%;
border:1px solid red;
color: red;
font-weight: bold;
text-decoration: underline;
border-radius:10px;
text-align: center;
background-color:yellow;
position: relative;
}

.grid{width:100%;
    display: grid;
    grid-template-columns: auto auto auto 80px;
    font-weight: 900;
    color: white;
    gap: 10px ;
    position: absolute;
    top:95%;
}
.gridItem1{
    grid-column-start: 1;
    grid-column-end: 5;
    background: rgba(255, 0, 0, 0.755);
    text-align: center;
}
.gridItem2{
    background: rgb(182, 250, 80);
    text-align: center;
    padding: 3px 5px;
}
.gridItem3{
    background: skyblue;
    color: white;
}
.gridItem4{
    background: blueviolet;
}
.gridItem5{
    background: rgb(29, 29, 29);
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
}
.gridItem5 li{
    list-style-position: inside;
    text-align: left;
    text-decoration: underline;
    color: rgba(245, 245, 245, 0.895);
    font-weight: 500px;
}
.gridItem6{
    background: rgb(241, 150, 21);
    grid-column-start: 1;
    grid-column-end: 4;
}
.gridItem7{
    background: skyblue;
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: center;
    color: black;
}
       